.header-color{
  background: white;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C548F, #2C638F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C548F, #2C638F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.landing-grid, .mdl-layout .mdl-layout__drawer{
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #285F8F, #33b5ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #285F8F, #33b5ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 .mdl-layout .mdl-layout__drawer{
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #285F8F, #33b5ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #285F8F, #33b5ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.avatar-img{
  -webkit-box-shadow: 0px 0px 36px 6px rgba(154,215,249,0.83);
  -moz-box-shadow: 0px 0px 36px 6px rgba(154,215,249,0.83);
  box-shadow: 0px 0px 36px 6px rgba(154,215,249,0.83); 
}

.banner-text{
  background-color: #2D3B45;
  opacity: .8;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  text-align: center;
}

.banner-text h1{
  font-size: 56px;
  font-weight: bold;
  color: white;
}

.banner-text h2{
  font-size: 44px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}


/*css contact page */

.contacts{
  background-color: #2D3B45;
  opacity: .8;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  text-align: center;  
}

.contacts li, h2{
  color: white;
  font-size: 16px;
  display: block;
}

.contacts p{
  color: white;
  font-size: 24px;
  text-align: justify;
  margin: 0 auto;
  display: block;
  padding: 15px;
}

.contacts hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.contacts h3{
  color:white;
  font-size: 22px;
}

/*css contact page */

/*Resume page*/

.resume-right-col{
  background: #2D3B45;
  color: white;
  padding: 2em;
  border-radius: 10px;
}

.mdl-grid .mdl-cell--8-col .resume-right-col hr{
  border-top: 3px solid #39D4BF;
}

/*Resume page*/

.mdl-layout .mdl-layout__drawer-button i {
  color: antiquewhite;
}

/*footer*/

footer{
  margin-top: 50px;
}

footer p{
  color: white;
  font-size: 16px;
  margin-bottom: 0!important;
}

footer span{
  color: white;
  text-decoration: underline;
  padding-left: 5px;
  font-size: 18px;
}
/*footer*/

.drawer-title{
  border:2px solid white;
  border-radius:8px;
}

.drawer-title a{
  padding-bottom: 5px;
}

.drawer-title span{
  color:white;
  text-decoration:none; 
  color:white;
  font-weight:bold;
  font-size:18px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
  background-color: white!important;
  color: #52B0E6!important;
  text-decoration: none!important;
}

.mdl-grid .mdl-cell h2, .mdl-grid .mdl-cell h4, .mdl-grid .mdl-cell h5, .mdl-grid .mdl-cell p{
  color:white!important;
}
.mdl-grid .mdl-cell h4{
   font-weight: bold;
}

.mdl-grid .mdl-cell h5{
  font-size: 22px;
}

.mdl-grid .mdl-cell p{
  font-size: 18px;
  text-align: justify;
}

.mdl-grid .mdl-cell hr{
  border-top:3px solid #39D4BF;
  width:50%;
}

.progress-bar{
  background-color: #39D4BF!important;
  font-size: 16px;
  color: #2D3B45!important;
  font-weight: bold;
}

.nsel{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btnn{
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  color: #fff;
  background-color: #39D4BF;
  border-color: #39D4BF;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: bold;
}

.btnn:hover{
  color: #fff;
  background-color: #1cb1c9;
  border-color: #117a8b;
  text-decoration: none;
}